@import '../../app.scss';
.portfolio {
  position: relative;
  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: purple;
    font-size: 36px;
    @include mobile {
      padding-top: calc(100vh - 50px);
      font-size: 34px;
    }
    h1 {
      @include mobile {
        font-size: 34px;
      }
    }
    @include tablet {
      padding-top: calc(100vh - 78px);
      font-size: 25px;
    }
    .progressBar {
      height: 10px;
      background-color: white;
    }
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .wrapper {
      max-width: 1200px;
      height: 100%;
      margin: auto;
      display: flex;
      gap: 50px;
      align-items: center;
      justify-content: center;
      @include mobile {
        flex-direction: column;
      }
      @include tablet {
        flex-direction: column;
      }

      img {
        flex: 1;
        height: 50%;
        object-fit: cover;
        @include mobile {
          width: 100%;
          max-height: 300px;
          object-fit: contain;
        }
        @include tablet {
          width: 100%;
          max-height: 500px;
          object-fit: contain;
        }
      }
      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include mobile {
          transform: none !important;
          padding: 10px;
          align-items: center;
          text-align: center;
        }
        @include tablet {
          transform: none !important;
          padding: 10px;
          align-items: center;
          text-align: center;
        }

        h2 {
          font-size: 52px;
          @include mobile {
            font-size: 26px;
          }
        }
        a {
          z-index: 999;
        }
        button {
          background-color: purple;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 200px;
          cursor: pointer;
          color: white;
        }
      }
    }
  }
}
